<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Cache-Control" CONTENT="no-cache" />
    <title>Ticket <%= @titulo != nil ? ":: "+@titulo : "" %></title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>

<div class="topbar">
  <div class="topbar-inner">
    <div class="container-fluid">
      <a class="brand" href="#">TICKET</a>
      <%  if logado? %>
        <ul class="nav">
          <li class="active"><%= link_to "Home", root_path %></li>
          <li><%= link_to "Cadastrar chamado", new_chamado_path %></li>
          <li><%= link_to "Lista de chamados", chamados_path %></li>
          <li><%= link_to "Lista de usuários", usuarios_path %></li>
          <% if usuario_atual.administrador? %>
            <li><%= link_to "Cadastrar status", new_status_path %></li>
            <li><%= link_to "Listar status", statuses_path %></li>
          <% end %>
        </ul>
        <ul class="secondary-nav">
          <li><%= link_to "Meus chamados", usuario_atual %></li>
          <li><%= link_to "Alterar cadastro", edit_usuario_path(usuario_atual) %></li>
          <li><%= link_to "Sair", sair_path %></li>
        </ul>
      <% else %>
        <ul class="nav">
          <li class="active"><%= link_to "Home", root_path %></li>
          <li><%= link_to "Cadastre-se", cadastro_path %></li>
        </ul>
        <%= form_for(:session, :url => sessions_path , :html => {:class => "pull-right" }) do |f| %>
          <%= f.text_field :email , :placeholder => "E-mail"  %>
          <%= f.password_field :senha, :placeholder => "Senha" %>
          <%= f.submit :name => "btn_login" , :value => "Entrar" , :class => "" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="container">
  <div class="content">
    <div class="page-header">
      <h1>Ticket<small> Sistema de chamados </small></h1>
    </div>
    <div class="row ">