<%= render 'layouts/header' %>
      <% flash.each do |key, value| %>
        <div class="alert-message block-message <%= key%>"><%= value %></div>
      <% end %>
      <div class="span10">
        <h2><%= @titulo %></h2>
        <%= yield %>
      </div>
      
<%= render 'layouts/footer' %>